.container-connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.form-connexion {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #262421;
    width: 23em;
    border-radius: 30px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.input-connexion {
    padding: 0;
    padding-left: 10px;
    height: 2em;
    width: 90%;
    margin-top: 5%;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #ffffff;
    font-size: 20px;
    font-display: center;
    background-color: #312e2b;
}

.errors {
    font-size: 20px;
    background-color: #ffffff;
    border: 1px solid #ece9ea;
    color: #a31927;
    padding: 8px;
    border-radius: 20px;
}