
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:not(:last-child) {
    margin-right: 1rem;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    }
    
    .img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    }
    
    .imgExo {
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    }
    
    .imgExo:hover {
    border-color: #fff;
    }
    
    .exo-name {
    margin-top: 0.5rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
    }
    
    @media (min-width: 768px) {
    .imgExo {
    max-width: 300px;
    }
    }
