nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.imgExo {
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    max-width: 80%;
    max-height: 80%;
    margin: auto 15px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:not(:last-child) {
    margin-right: 1rem;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.imgExo {
    width: 12em;
    height: 12em;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    /* Ajout de la transition */
}

.imgExo:hover {
    width: 12.3em;
    height: 12.3em;
    border: 1px solid #fff;
    border-color: #fff;
}

.exo-name {
    margin-top: 0.5rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #fff;
}

@media (min-width: 768px) {
    .imgExo {
        max-width: 300px;
    }
}