.container-general {
  display: flex;
  width: 100%;
}

.plateau-gauche {
  width: 60%;
  box-sizing: border-box;
}

.elements-droite {
  width: 40%;
  background-color: #282522;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.consigne {
  margin-top: 2%;
  padding: 0 2%;
  font-size: 1.5vw;
  font-weight: bold;
  color: var(--couleur-theme);
}

.boutons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reponse-input[type="text"] {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  border: 3px solid #ccc;
  border-radius: 5px;
  width: 80%;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.reponse-input[type="text"]:focus {
  border-color: var(--couleur-theme);
}


.actual-bouton {
  width: 30%;
  margin-top: 2%;
  padding: 2% 0;
  font-size: 1.2vw;
}


.response {
  width: 80%;
  height: 8%;
  display: flex;
  align-items: center;
  font-family: var(--police-ecriture);
  color: white;
  padding: 5px 15px;
  opacity: 0;
  background-color: var(--couleur-theme);
  transition: all 0.5s ease-in-out;
}

.show {
  opacity: 1;
}

.incorrect {
  background-color: var(--couleur-erreur);
}


@media only screen and (max-width: 1200px) {
  .container-general {
    flex-direction: column;
    width: 60%;
  }

  .boutons {
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    margin: 2% 0;
  }

  .plateau-gauche {
    width: 100%;
  }

  .elements-droite {
    width: 100%;
  }

  .actual-bouton {
    width: 30%;
    margin: 5% 0;
  }
}

@media only screen and (max-width: 800px) {
  .boutons {
    display: none;
  }

  .input {
    margin-top: 5%;
  }
}