.container-general {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.consigne {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1%;
}

.jeu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.plateau-gauche {
  width: 60%;
  box-sizing: border-box;
}

.elements-droite {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.reponse-input {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border: 3px solid #ccc;
  border-radius: 30px;
  width: 15em;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.reponse-input[type="text"]:focus {
  border-color: var(--couleur-theme);
}


.valider-bouton {
  width: 140px;
  height: 45px;
  margin-top: 3%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #fff8f8;
  background-color: var(--couleur-theme);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.valider-bouton:hover {
  background-color: var(--couleur-theme);
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.4);
  color: #ffffffad;
  transform: translateY(-2px);
}

.valider-bouton:disabled {
  cursor: default;
  background-color: #ccc;
  box-shadow: none;
  transform: none;
}


.response {
  position: absolute;
  margin-top: 12%;
  font-family: var(--police-ecriture);
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 2px;
}

.correct-response {
  background-color: var(--couleur-theme);
}

.incorrect-response {
  background-color: var(--couleur-erreur);

}