.level-container {
    margin: 0 27em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level-jeux {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}