.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.connexion {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #262421;
    width: 23em;
    border-radius: 30px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.form {
    width: 100%;
    max-width: 600px;
}

label {
    color: black;
}

input {
    height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
    color: #ffffff;
    font-size: 24px;
    font-display: center;
    background-color: #312e2b;
}

.errors {
    font-size: 20px;
    background-color: #ffffff;
    border: 1px solid #ece9ea;
    color: #a31927;
    padding: 8px;
    border-radius: 20px;
}