label {
    color: whitesmoke;
}

h1 {
    color: #EDEFF2;
}


.divMargin {
    margin-top: 20px;
}

.space {
    width: 50px;
    height: auto;
    display: inline-block;
}

.bouton-custom {
    appearance: none;
    background-color: #202020;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 8px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 30px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.bouton-custom:hover {
    background-color: #505050;
    text-decoration: none;
    transition-duration: 0.1s;
}

.bouton-custom:disabled {
    background-color: #202020;
    border-color: rgba(27, 31, 35, 0.15);
    opacity: 40%;
    color: #eeeeee;
    cursor: default;
}

.bouton-custom:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.bouton-custom:focus {
    outline: 1px transparent;
}

.bouton-custom:before {
    display: none;
}

.bouton-custom:-webkit-details-marker {
    display: none;
}

.valider-bouton {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff8f8;
    background-color: var(--couleur-theme);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.valider-bouton:hover {
    background-color: var(--couleur-theme);
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.4);
    color: #ffffff;
    transform: translateY(-2px);
}

.valider-bouton:disabled {
    cursor: default;
    background-color: #ccc;
    box-shadow: none;
    transform: none;
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.imgExo {
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    max-width: 80%;
    max-height: 80%;
    margin: auto 15px;
}



nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262421;
    color: #fff;
    padding: 10px;
}

nav ul {
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
    margin-left: 0px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.logout {
    margin-left: auto;
}

.logout {
    background-color: #fff;
    color: #262421;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}

.logout:hover {
    background-color: #262421;
    color: #fff;
}

:root {
    --couleur-theme: #7e9d4e;
    --couleur-erreur: #c63935;
    --police-ecriture: 'Helvetica Neue', sans-serif;
}